<h1 class="home_title"> Welcome to the Cafeteria Management Homepage !!</h1>
<h3 class="home_authenticate">
  New user ?
  <%= link_to "sign up here", new_user_path %>
</h3>

<h3 class="home_authenticate">
  Existing User ?
  <%= link_to "sign in here", new_sessions_path %>
</h3>