.home_title {
  font-size: 20px;
  margin-bottom: 30px;
}

.home_authenticate {
  font-size: 16px;
  margin-bottom: 20px;
}

.user_header {
  font-size: 14px;
  background-color: lightgrey;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.flash_error {
  color: darkred;
  font-size: 16px;
  margin-bottom: 20px;
}