.menu {
    text-align: left;
    padding-right: 30px;
  }
  .column_center {
    display: inline-block;
    width: 33.333%;
  }
  
  .column_left {
    float: left;
    width: 33.333%;
  }
  
  .column_right {
    float: right;
    width: 33.333%;
  }
  .menu_category_name {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .menu_item {
    padding-bottom: 8px;
    display: flex;
  }
  
  .menu_item_container {
    /* display: flex; */
    padding-left: 5px;
    font-size: 15px;
    line-height: 20px;
    /* align-items: center; */
  }
  
  /* .MenuItem-price {
  } */
  
  .menu_item_name {
    /* padding-right: 10px; */
    word-wrap: break-word;
    width: 200px;
  }
  
  .get_menu {
    display: flex;
    height: 20px;
    align-items: stretch;
    margin-bottom: 36px;
  }
  