.menu {
    text-align: left;
    padding-right: 30px;
  }
  .content_center {
    display: inline-block;
    width: 40%;
    background-color: white;
  }
  
  .content_left {
    float: left;
    width:40%;
    background-color: white;
  }
  
  .content_right {
    float: right;
    width: 40%;
    background-color: white;
  }
  .menu_category_name {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .menu_item {
    padding-bottom: 8px;
    display: flex;
  }
  
  .menu_item_container {
    padding-left: 5px;
    font-size: 15px;
    line-height: 20px;
  }
  .menu_item_name {
    word-wrap: break-word;
    width: 200px;
  }
  
  .get_menu {
    display: flex;
    height: 20px;
    align-items: stretch;
    margin-bottom: 36px;
  }
  