body {
    font-family: Open Sans, sans-serif;
    /* max-width: 460px;
    margin: 0 auto;
    margin-top: 60px; */
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    /* text-align: center; */
  }
  
  .UserNew {
    max-width: 460px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
  }
  .NewUsers-title {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
  }
  
  .Form-section {
    margin-bottom: 20px;
  }
  
  .Form-input {
    font-size: 15px;
    padding: 10px;
    width: 80%;
    height: 80%;
  }
  
  .FormInput-label {
    color: #555555;
    margin-bottom: 8px;
    text-align: left;
    padding-left: 35px;
  }
  
  .Form-submit {
    font-size: 14px;
    color: white;
    background-color: #48bb78;
    border: 1px solid transparent;
    padding: 6px 22px;
    border-radius: 4px;
    text-align: center;
    height: 35px;
    cursor: pointer;
    width: 85%;
  }
  